@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #ff8578
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-y: hidden;
    width: 100%;
}

h1, h2 {
    font-family: 'Courgette', Helvetica, sans-serif;
}

h2 {
    font-weight: 600;
}

a:hover {
    text-decoration: none;
}

.sticky {
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--main-color);
    color: darkred;
}

.sticky-header {
    background-color: white;
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
    /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: #2b2d2e;
    /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: #666768;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
}

.music-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 4000;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100vh;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
    overflow: hidden;
    -webkit-animation: fadein 0.5s;
}

.close-music-modal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close-music-modal:hover, .close-music-modal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.music-modal-content {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 700px;
    height: 100%;
    color: white;
}

.music-modal-title {
    margin-bottom: 20px;
    font-size: 2.6rem;
    color: var(--main-color);
}

/* HEADER */

header {
    background-color: #A05F7B;
    height: 70px;
    transition: 0.3s;
}

.navbar-brand {
    font-size: 27px;
    padding-left: .5rem;
    font-family: 'Courgette', Helvetica, sans-serif;
    color: #cfa46b;
}

.navbar-brand:hover {
    color: #cfa46b;
}

.navbar-collapse {
    padding: 5px 0px;
}

.main-color {
    color: var(--main-color);
}

.header-date p {
    margin: 5px 0 0 0;
    color: #353232;
    font-size: 18px;
    font-weight: 600;
}

/* MAIN NAVBAR */

.main-navbar {
    font-size: 20px;
    top: 70px;
    transition: 0.3s;
}

.navbar-collapse {
    position: relative;
}

.nav-link {
    color: darkred;
    font-weight: 600;
    transition: 0.3s;
}

.active {
    color: white;
}

.nav-link:hover {
    color: white;
}

.dropdown-container {
    width: auto;
}

.dropdown-item {
    position: absolute;
    color: darkred;
    list-style: none;
    padding: 0 .5rem .5rem .5rem;
    font-weight: 600;
    margin-left: -10px;
    display: none;
    flex-direction: column;
    transition: 0.3s;
    -webkit-animation: fadein 0.5s;
}

.dropdown-item:hover {
    display: flex;
    background: none;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--main-color);
    color: darkred;
    width: auto;
}

.dropdown-nav-link {
    padding-top: 10px;
    padding-left: 10px;
    transition: 0.3s;
    cursor: pointer;
    font-style: inherit;
    color: darkred;
}

.dropdown-nav-link:hover {
    color: white;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: darkred;
    text-decoration: none;
}

.gamingBtn:hover~.dropdown-item {
    display: flex;
}

.changeCode-btn {
    position: absolute;
    right: 100px;
    padding: .5rem 1rem;
    font-weight: 600;
}

.changeCode-btn i {
    font-size: 1.4rem;
    cursor: pointer;
    transition: 0.3s;
}

.changeCode-btn i:hover {
    color: darkred;
}

.home-section {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(./img/headerImg.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.about-us-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.about-us-block {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 28%;
    top: -250px;
}

.main-block {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: wheat;
    z-index: 1;
}

.name {
    text-align: center;
    width: 70%;
}

.name h2 {
    font-size: 2rem;
}

.birthday {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Courgette', Helvetica, sans-serif;
}

.zodiac img {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    object-fit: cover;
    margin-top: 5px;
}

.photo {
    width: 150px;
    height: 150px;
}

.photo img {
    height: 140px;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.block-left {
    margin-right: 30px;
}

.block-left .photo {
    margin-right: 30px;
}

.block-right {
    margin-left: 30px;
}

.block-right .photo {
    margin-left: 30px;
}

.heart {
    position: absolute;
    z-index: 2;
}

.heart img {
    height: 100px;
    width: 100px;
    margin-top: -250px;
    animation: beat .5s infinite alternate;
    transform-origin: center;
}

#ourDay {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}

#ourDay h1 {
    margin: 0px 15% 50px;
}

.count {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    padding: 20px;
}

.count-blocks {
    background-color: var(--main-color);
    width: 24%;
    display: inline-block;
    color: #fff;
    font-size: 30px;
    line-height: 1.1em;
    margin-right: 1.333333%;
    text-align: center;
    padding: 20px;
}

.count-label {
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    margin-top: 5px;
    text-transform: uppercase;
}

.description {
    margin: 50px 15% 10px;
    text-align: center;
    font-size: 1.4rem;
    font-style: italic;
}

.author {
    text-align: right;
    margin: 0px 15% 10px;
    font-style: italic;
}

#ourStory {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #e5e5e5;
    padding-top: 100px;
    padding-bottom: 100px;
}

.story-row {
    display: table;
    position: relative;
    padding-top: 30px;
}

.story-row .story-block {
    display: table-cell;
    float: none;
    height: 100%;
    vertical-align: middle;
    z-index: 1;
}

.story-block p {
    font-size: 20px;
}

.story-block i {
    font-size: 3rem;
    color: var(--main-color);
    cursor: pointer;
    animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: 0.3s;
}

.story-image, .story-image:hover, .story-image:focus {
    display: block;
    max-width: 320px;
    margin: 0 auto;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    border-radius: 1000px;
    overflow: hidden;
}

.scale-image-effect {
    overflow: hidden;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.scale-image-effect img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    border: 0px solid transparent;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.scale-image-effect:hover img, .scale-image-effect:focus img {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}

#ourStory .vertical-line {
    position: absolute;
    background-color: #eee;
    width: 1px;
    height: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    z-index: 0;
}

.story-date {
    display: inline-block;
    /* background: url(/img/ff8578.png) no-repeat; */
    background: no-repeat;
    background-size: 90px;
    width: 90px;
    height: 90px;
    color: #fff;
    line-height: 1em;
}

.story-date .year {
    font-family: 'Courgette', Helvetica, sans-serif;
    font-size: 21px;
    margin-top: 27px;
}

.story-date .month {
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
}

.story-row h3, .story-row p {
    text-align: left;
    width: 100%;
}

.story-row h3 {
    margin: 10px 0px;
}

.myMessage {
    font-size: 3rem;
    color: var(--main-color);
    cursor: pointer;
}

#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #e5e5e5;
    padding-top: 100px;
}

#gallery h2 {
    margin-top: 0;
    margin: 0 15% 50px;
}

.gallery-item {
    margin-bottom: 30px;
}

.gallery-item img {
    vertical-align: bottom;
    width: 100%;
    border: 0;
    height: 300px;
    object-fit: cover;
}

.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 300;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    padding-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
    z-index: 3000;
    /* align-items: center; */
}

/* Modal Content (Image) */

.modal-content {
    margin: auto;
    display: block;
    width: fit-content;
    height: 100%;
    object-fit: contain;
    background: none;
}

/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 300;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.previous {
    height: 100%;
    position: absolute;
    color: white;
    top: 0;
    line-height: 100vh;
    font-size: 3rem;
    padding-left: 50px;
    padding-right: 10px;
    cursor: pointer;
}

.next {
    height: 100%;
    position: absolute;
    color: white;
    top: 0;
    line-height: 100vh;
    font-size: 3rem;
    right: 0;
    padding-right: 50px;
    padding-left: 10px;
    cursor: pointer;
}

.previous, .next {
    border: none;
    transition: 0.3s;
    background: none;
    cursor: pointer;
}

button {
    background: none;
    border: none;
}

button:focus {
    outline: none;
}

.previous:hover {
    background: #1D1F20;
    padding-right: 5px;
    padding-left: 45px;
}

.next:hover {
    background: #1D1F20;
    padding-left: 5px;
    padding-right: 45px;
}

span.lm-demo-panel-switcher.left {
    left: 0;
    border-left: 0;
    border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

span.lm-demo-panel-switcher {
    position: fixed;
    background-color: #fff;
    font-size: 18px;
    line-height: 1em;
    text-decoration: none;
    color: #fff;
    padding: 10px 12px;
    top: 160px;
    border: 1px solid #d5d5d5;
    z-index: 100;
    outline: 0;
    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

span.lm-demo-panel-switcher i {
    color: var(--main-color);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.loading {
    -webkit-animation: rotation 1s infinite linear;
}

.lm-demo-panel.left {
    left: 0;
    margin-left: -160px;
    border-left: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.lm-demo-panel {
    display: block;
    position: absolute;
    top: 208px;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    width: 160px;
    height: auto;
    z-index: 1999;
    padding: 15px 15px 20px;
    border: 1px solid #d5d5d5;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.lm-demo-panel .demo-panel-title {
    font-size: 16px;
    text-align: center;
    color: black;
    margin-bottom: 12px;
}

.lm-demo-panel.left.active, .lm-demo-panel.right.active {
    margin-left: 0;
    margin-right: 0;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.colorElements {
    position: relative;
    float: left;
    width: 29%;
    height: 30px;
    margin: 2%;
    padding: 1px;
    cursor: pointer;
}

/* GAMING */

#gaming {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #e5e5e5;
    padding-top: 100px;
}

#gaming h2 {
    margin: 0 15% 50px;
    text-align: center;
}

.intro-container {
    display: flex;
    width: 100%;
    position: relative;
    height: 520px;
    margin-bottom: 100px;
}

.vl {
    border-left: 6px solid var(--main-color);
    height: 520px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0px;
}

.intro_name {
    text-align: center;
    margin-bottom: 30px;
    color: var(--main-color);
}

.Dai_game_intro {
    display: block;
    position: absolute;
    left: 0;
    width: 45%;
}

.Ha_game_intro {
    display: block;
    position: absolute;
    right: 0;
    width: 45%;
}

.intro_img {
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
    margin-bottom: 15px;
    cursor: pointer;
}

.intro_img:hover {
    transform: scale(1.2);
}

.intro_info {
    margin-top: 20px;
    padding-left: 20px;
    font-size: 1.2rem;
    font-weight: 600;
}

/* GALLERY GAMING */

.gallery-gaming {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 15% 50px;
}

.gallery-gaming h2 {
    width: 100%;
}

/*GAME PHILOSOPHY */

.philo-container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.philo-container img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
}

.philo-quote {
    margin-top: 10px;
}

.philo-quote p {
    text-align: center;
    font-size: 1.4rem;
    font-style: italic;
}

.philo-quote h3 {
    text-align: end;
    font-family: 'Courgette', Helvetica, sans-serif;
    margin: 0px 15% 10px;
}

#game-gallery {
    border-top: 1px solid #e5e5e5;
    padding-top: 100px;
}

.gallery-gaming {
    padding: 100px 0;
}

#fewWords {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    border-top: 1px solid #e5e5e5;
    padding-top: 100px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background-color: var(--main-color);
    /* background: rgb(255, 27, 0); */
    /* background: linear-gradient(0deg, rgba(255, 27, 0, 1) 0%, rgba(251, 75, 2, 1) 100%); */
}

.btn-5:hover {
    color: #f0094a;
    background: transparent;
    box-shadow: none;
}

.btn-5:before, .btn-5:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #f0094a;
    box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003, 4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.btn-5:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.btn-5:hover:before, .btn-5:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

#demo {
    font-size: 2rem;
    font-family: 'Courgette', Helvetica, sans-serif;
    margin-top: 20px;
}

.click-message-container {
    display: none;
    flex-direction: column;
    align-items: center;
    -webkit-animation: fadein 0.5s;
}

#follow-message {
    font-size: 20px;
    font-weight: 600;
}

.arrow-down {
    font-size: 4rem;
    transition: 0.3s;
    margin-bottom: 10px;
    color: #cda46b;
    animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.final-heart-container {
    display: none;
}

.final-heart {
    font-size: 7rem;
    color: var(--main-color);
    cursor: pointer;
    transition: 0.3s;
    -webkit-animation: fadein 0.5s;
}

.final-heart:hover {
    color: red;
    animation: beat .5s infinite alternate;
}

.final-modal {
    display: none;
    position: fixed;
    z-index: 300;
    padding-top: 100px;
    padding-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 3000;
    align-items: center;
    transition: 0.5s;
    -webkit-animation: fadein 0.5s;
    /* Safari, Chrome and Opera > 12.1 */
}

.final-modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    height: 100%;
    object-fit: cover;
    color: white;
}

.gradient-border {
    --borderWidth: 3px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
    font-size: 17px;
    padding: 10px 10px 10px 10px;
    color: white;
}

.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

.final-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.final-close:hover, .final-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.love-modal {
    display: none;
    position: fixed;
    padding-top: 100px;
    padding-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9); */
    background: linear-gradient(to right, rgb(58, 97, 134), rgb(137, 37, 62));
    z-index: 3000;
    align-items: center;
    transition: 0.5s;
    -webkit-animation: fadein 0.5s;
}

.love-modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    height: 100%;
    object-fit: cover;
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 20px;
}

.close-love-modal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 300;
}

.close-love-modal:hover, .close-love-modal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* FOOTER */

footer {
    position: relative;
    background: linear-gradient(45deg, pink, violet);
    width: 100vw;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    min-width: 30%;
    min-height: 30%;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0);
    box-shadow: 5px 5px 5px 2px black;
    border-radius: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    padding: 5px 10px;
    font-family: 'Courgette', Helvetica, sans-serif;
}

.footer-title {
    margin-right: 5px;
}

.rain-heart {
    color: rgb(60, 0, 60);
    font-size: 25px;
    position: absolute;
    animation: heartMove linear 1;
    top: 0px;
    z-index: 0;
}

@keyframes heartMove {
    0% {
        transform: translateY(-10vh);
    }
    100% {
        transform: translateY(110vh);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes bounce {
    50% {
        transform: translateY(-15px);
    }
}

/* 100% Image Width on Smaller Screens */

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

@keyframes beat {
    to {
        transform: scale(1.2);
    }
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
    .final-modal-content {
        width: 100%;
    }
}